h1 Create User 
form(action="/users/create" method="POST")
    input(name="name", type="text", placeholder="Nhập tên")
    input(name="email", type="text", placeholder="Nhập email")
    input(type="submit")

a(href="/users") Back